// Place all the styles related to the students controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
    background-color: #dfedfc;
    text-align: center;
}

table{
    width: 95%;
    margin: 2.5%;
    text-align: center;
    border-collapse: collapse;
    table-layout: fixed;
}

th{
    border-bottom: 3px solid red;
}
th, td{
    font-size: 16px;
    padding: 1%;
}

button{
    border: none;
    border-radius: 4px;
    background-color: white;
    padding: 1%;
    margin: 1%;
    width: 100%;
    font-size: 16px;
}

.new{
    background-color: aquamarine;
    width: 95%;
}

.edit{
    background-color: aquamarine;
    width: 30%;
}

button.form{
    margin: 1% 1% 0;
    width: 95%;
}

p, div{
    font-size: 16px;
    margin: 2%;
}
